.git
.gitignore
.venv
.env
PROD.env
.env.example
.idea
.vscode
__pycache__
*.pyc
*.pyo
.pytest_cache
static
media
node_modules
*.md
docker-compose*.yml
Dockerfile*
dev.Dockerfile
nginx.conf
.gitattributes
